.annoEditBtn, .annoReplyBtn, .annoDeleteBtn, .annoShareBtn {opacity: 0.2}
.annoEditBtn:hover, .annoReplyBtn:hover, .annoDeleteBtn:hover, .annoShareBtn:hover {opacity:1.0}
.anno , .reply, .replyEditor {padding:10px !important; margin:5px !important;}
.icon-reply {background-image:url("reply.png") !important ; background-position:0px 0px !important;}
.reply-count:before {content: "▿ "}
.anno-collapsed:before {content:"▹ "}
.annotator-filter {
    top:auto;
    bottom:0;
}
.annotator-hl.annotator-image {
    border: 2px solid red;
}
.annotator-hl.annotator-image.annotator-hl-filtered {
    border: none;
}
.annotator-viewer div:first-of-type, .annotator-editor .annotator-item:first-child textarea {
    font-style:normal;
}
.annotator-item blockquote {
    margin-top:3px; margin-bottom:3px; padding:2px;
}
.annobody p, .annotator-item p {
    font-size:100%;
}

div[annotator_ignore=true] {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
